<!DOCTYPE html>
<html>
<head>
  <title>QuoraCloneClearance</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1 class="title"></h1>
  <div id="header">
    <% if signed_in? -%>
      <p>DEAR <%= current_user.name %></p>
      <%= button_to t(".sign_out"), sign_out_path, method: :delete %>
    <% else %>
      <%= button_to  "Sign In", sign_in_path , :method => :get %>
    <% end %>
  </div>

  <br>
  <div id="flash">
    <% flash.each do |key, value|%>
      <div class="flash_<%= key %>"><%=value %></div>
    <% end %>
  </div>

  <%= yield %>
</body>
</html>